In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('tax_data.csv')
print(df.shape)
df.head(10)

(166452, 165)

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,785000.0,519980.0,85690.0,165290.0,724170.0,22560.0,...,0.0,0.0,57720.0,46577.0,674840.0,1827202.0,672200.0,1818867.0,2900.0,6089.0
1,1,AL,0,2,554310.0,270870.0,121420.0,146470.0,515150.0,13260.0,...,0.0,0.0,81770.0,112540.0,470410.0,1445383.0,466960.0,1432458.0,4660.0,11648.0
2,1,AL,0,3,290630.0,113280.0,124770.0,44570.0,269700.0,6420.0,...,0.0,0.0,70360.0,144380.0,220710.0,626662.0,216530.0,610170.0,5760.0,16235.0
3,1,AL,0,4,181010.0,42010.0,120820.0,14410.0,168830.0,2570.0,...,0.0,0.0,49500.0,135429.0,130670.0,437179.0,126790.0,419324.0,3730.0,14903.0
4,1,AL,0,5,269080.0,31310.0,224330.0,8270.0,252360.0,3250.0,...,100.0,20.0,103250.0,470206.0,165650.0,724529.0,156910.0,642895.0,11280.0,80064.0
5,1,AL,0,6,81340.0,5000.0,72270.0,630.0,76810.0,230.0,...,41750.0,164094.0,43960.0,1216690.0,34560.0,735671.0,24770.0,285560.0,9630.0,391783.0
6,1,AL,35004,1,1460.0,1010.0,200.0,210.0,1340.0,40.0,...,0.0,0.0,110.0,80.0,1210.0,2807.0,1210.0,2795.0,0.0,0.0
7,1,AL,35004,2,1400.0,760.0,280.0,310.0,1310.0,40.0,...,0.0,0.0,190.0,194.0,1210.0,3378.0,1200.0,3335.0,30.0,62.0
8,1,AL,35004,3,1020.0,460.0,350.0,190.0,970.0,30.0,...,0.0,0.0,230.0,357.0,800.0,2131.0,790.0,2119.0,0.0,0.0
9,1,AL,35004,4,630.0,140.0,420.0,60.0,590.0,0.0,...,0.0,0.0,180.0,386.0,450.0,1282.0,440.0,1276.0,0.0,0.0

In [4]:
groups = df.groupby('agi_stub')

In [5]:
income_groups = groups['N1'].agg('sum')
income_groups

agi_stub
1    100855450.0
2     77961780.0
3     45155720.0
4     28527170.0
5     44745930.0
6     18532630.0
Name: N1, dtype: float64

In [11]:
number_taxed_people = income_groups.sum()
number_taxed_people

315778680.0

This is a lot higher than the amount of taxpaying adults, which leads me to believe there were other factors leading to more returns

In [6]:
total_income_groups = groups['A02650'].agg('sum')
total_income_groups

agi_stub
1    1.268413e+09
2    2.866435e+09
3    2.804837e+09
4    2.496825e+09
5    6.193792e+09
6    9.991891e+09
Name: A02650, dtype: float64

In [13]:
total_income = total_income_groups.sum()
total_income

25622193370.0601

In [7]:
taxable_income_groups = groups['A04800'].agg('sum')
taxable_income_groups

agi_stub
1    2.161236e+08
2    1.519782e+09
3    1.905507e+09
4    1.835696e+09
5    4.963837e+09
6    8.860408e+09
Name: A04800, dtype: float64

There is little income that is not subject to taxes, except for in the lower income brackets

In [9]:
total_taxable_income = taxable_income_groups.sum()
total_taxable_income

19301352694.0

In [10]:
paid_tax_income_groups = groups['A18300'].agg('sum')
paid_tax_income_groups

agi_stub
1     5971650.0
2    15262302.0
3    27338010.0
4    30849162.0
5    86063684.0
6    83268162.0
Name: A18300, dtype: float64

In [14]:
paid_taxes = paid_tax_income_groups.sum()
paid_taxes

248752970.0

248.75 billion seems a bit low for the total taxes payed, especially when they claim there was 1.6 trillion payed in taxes

In [15]:
SandL_tax_income_groups = groups['A18425'].agg('sum')
SandL_tax_income_groups

agi_stub
1       728956.0
2      3579902.0
3      9888918.0
4     14354986.0
5     60722624.0
6    313293954.0
Name: A18425, dtype: float64

State and local taxes seem to be a lot more progressive than federal taxes

In [17]:
tax_payments_groups = groups['A10600'].agg('sum')
tax_payments_groups

agi_stub
1    2.190053e+08
2    3.156289e+08
3    2.849537e+08
4    2.692231e+08
5    7.723393e+08
6    2.167675e+09
Name: A10600, dtype: float64

In [18]:
total_tax_payments = tax_payments_groups.sum()
total_tax_payments

4028825394.0

4 trillion in taxes paid is more than expected, there must be money gotten back

In [19]:
total_tax_after_credits = groups['A06500'].agg('sum')
total_tax_after_credits

agi_stub
1    1.704920e+07
2    1.253508e+08
3    1.914280e+08
4    2.075768e+08
5    6.879915e+08
6    2.106143e+09
Name: A06500, dtype: float64

Credits seem to have a much larger affect on the lower tax brackets