# Tax Returns Deductions Breakdown
comming soon... Talk to Evan if you want to work on this. I will explain the concept to you.

**Which of these need included?** \
N04475 - Number of returns with Qualified business income deduction \
N20950 - Number of returns with Other non-limited miscellaneous deductions \
N19700 - Number of returns with Total charitable contributions \
N19570 - Number of returns with Investment interest paid \
N19550 - Number of returns with Qualified mortgage insurance \
N19530 - Number of returns with Deductible points \
N19500 - Number of returns with Home mortgage from personal seller \
N19300 - Number of returns with Home mortgage interest paid \
N18300 - Number of returns with Total taxes paid \
N18460 - Number of returns with Limited state and local taxes \
N18800 - Number of returns with Personal property taxes \
N18500 - Number of returns with real estate taxes \
N18450 - Number of returns with State and local general sales tax \
N18425 - Number of returns with State and local income taxes \
N17000 - Number of returns with Total medical and dental expense deduction \
N02910 - Number of returns with charitable contributions if took standard deduction \
N03210 - Number of returns with student loan interest deduction \
N03150 - Number of returns with Individual retirement arrangement payments \
N03270 - Number of returns with Self-employed health insurance deduction \
N03300 - Number of returns with Self-employed (Keogh) retirement plans \
N03220 - Number of returns with educator expenses \
N02900 - Number of returns with total statutory adjustments \
N26270 - Number of returns with partnership/S-corp net income (less loss) \
N02500 - Number of returns with taxable Social Security benefits \
N02300 - Number of returns with unemployment compensation \
N01700 - Number of returns with taxable pensions and annuities \
N01400 - Number of returns with taxable individual retirement arrangements distributions \
N01000 - Number of returns with net capital gain (less loss) \
N00900 - Number of returns with business or professional net income (less loss) \
N00700 - Number of returns with state and local income tax refunds \
N00650 - Number of returns with qualified dividends \
N00600 - Number of returns with ordinary dividends \
N00300 - Number of returns with taxable interest \
N00200 - Number of returns with salaries and wages

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./data/tax_data_2020.csv")
df = df[df.zipcode != 0]

In [5]:
def sumColumns(dataframe, columns):
    total = 0
    for col in columns:
        total += abs(dataframe[col].sum())
    return total

In [6]:
def toMillion(amount):
    return round(amount / 1000000, 2)

def toBillion(amount):
    return round(amount / 1000000000, 2)

def toTrillion(amount):
    return round(amount / 1000000000000, 10)

In [47]:
TAX_RETURN_AMT = [ "A04475", "A02910", "A02500", "A01700", "A01400", "A01000", "A00650", "A00600", "A00300", "A00200"]
# TAX_RETURN_NUM = [ "N04475", "N20950", "N19700", "N19570", "N19550", "N19530", "N19500", "N19300", "N18300", "N18460", "N18800", "N18500", "N18450", "N18425", "N17000", "N02910", "N03210", "N03150", "N03270", "N03300", "N03220", "N02900", "N26270", "N02500", "N02300", "N01700", "N01400", "N01000", "N00900", "N00700", "N00650", "N00600", "N00300", "N00200"]

In [51]:
toBillion(sumColumns(df, TAX_RETURN_AMT) * 1000)

11487.43

In [54]:
toBillion(df["A04470"].sum() * 1000)

572.84

In [55]:
toBillion(df["A00100"].sum() * 1000)

12669.64

In [56]:
toBillion(df["A02650"].sum() * 1000)

12811.09

In [57]:
toBillion(df["A00200"].sum() * 1000)

8291.89